In [1]:
import pandas as pd

In [4]:
cd /Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/USGS_pulled_data

/Users/mine/Library/CloudStorage/Box-Box/Desert Dace/my_creations/USGS_pulled_data

In [5]:
ls

USGS-stream-gauges-csv.openrefine.tar.gz
USGS_StreamGauges_Original.xlsx
USGS_StreamGauges_V2.csv
USGS_StreamGauges_V2_forediting.csv
USGS_StreamGauges_edited_V4.csv
USGSmetadata.txt

In [25]:
read = pd.read_csv('USGS-StreamGauges_V5_latLong.csv')
read.head()

,Site_Number,Site_Name,Site_Type,Latitude 1,Latitude 2,Latitude 3,Longitute,Longitute 1,Longitute 2,Longitute 3,...,Elevation_ft,Hydrologic_Unit,Begin_Date,End_Date,Data_type,Count,Status,Information,Associated Samples,Link
0,411919119122301,026 N39 E24 01BB 1 Sp 3 Orfc A Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...
1,411919119122302,026 N39 E24 01BB 2 Sp 3 Orfc B Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,4358,16040202,5/26/80,9/15/20,Water_quality,2.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...
2,411919119122303,026 N39 E24 01BB 3 Sp 3 Orfc E Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...
3,411919119122304,026 N39 E24 01BB 4 Sp 3 Orfc G Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...
4,411919119122305,026 N39 E24 01BB 5 Sp 3 Orfc H Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...

air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882

In [27]:
read["latitude_decimal"] = (read["Latitude 1"] + (read["Latitude 2"] / 60) + (read["Latitude 3"] / 3600))
read["longitude_decimal"] = (read["Longitute 1"] + (read["Longitute 2"] / 60) + (read["Longitute 3"] / 3600))

read.head()

,Site_Number,Site_Name,Site_Type,Latitude 1,Latitude 2,Latitude 3,Longitute,Longitute 1,Longitute 2,Longitute 3,...,Begin_Date,End_Date,Data_type,Count,Status,Information,Associated Samples,Link,latitude_decimal,longitude_decimal
0,411919119122301,026 N39 E24 01BB 1 Sp 3 Orfc A Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
1,411919119122302,026 N39 E24 01BB 2 Sp 3 Orfc B Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,9/15/20,Water_quality,2.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
2,411919119122303,026 N39 E24 01BB 3 Sp 3 Orfc E Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
3,411919119122304,026 N39 E24 01BB 4 Sp 3 Orfc G Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
4,411919119122305,026 N39 E24 01BB 5 Sp 3 Orfc H Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389

In [42]:
read_re = read.rename(columns={"Longitute": "Longitude","Longitude 1": "Longitude 1","Longitude 2": "Longitude 2","Longitude 3": "Longitude 3", })
read_re.head()

,Site_Number,Site_Name,Site_Type,Latitude 1,Latitude 2,Latitude 3,Longitude,Longitute 1,Longitute 2,Longitute 3,...,Begin_Date,End_Date,Data_type,Count,Status,Information,Associated Samples,Link,latitude_decimal,longitude_decimal
0,411919119122301,026 N39 E24 01BB 1 Sp 3 Orfc A Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
1,411919119122302,026 N39 E24 01BB 2 Sp 3 Orfc B Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,9/15/20,Water_quality,2.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
2,411919119122303,026 N39 E24 01BB 3 Sp 3 Orfc E Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
3,411919119122304,026 N39 E24 01BB 4 Sp 3 Orfc G Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
4,411919119122305,026 N39 E24 01BB 5 Sp 3 Orfc H Mud Mdw Qd NW1,Spring,41,19,19.0,1191223.0,119,12,23.0,...,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389

In [52]:
read_re.head()
read_short = read_re.drop(['Longitude', 'Longitute 1', 'Longitute 2', 'Longitute 3','Latitude 1','Latitude 2','Latitude 3'], axis = 1)
read_short.head()

,Site_Number,Site_Name,Site_Type,UTM_N,UTM_E,Elevation_ft,Hydrologic_Unit,Begin_Date,End_Date,Data_type,Count,Status,Information,Associated Samples,Link,latitude_decimal,longitude_decimal
0,411919119122301,026 N39 E24 01BB 1 Sp 3 Orfc A Mud Mdw Qd NW1,Spring,NaN,NaN,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
1,411919119122302,026 N39 E24 01BB 2 Sp 3 Orfc B Mud Mdw Qd NW1,Spring,NaN,NaN,4358,16040202,5/26/80,9/15/20,Water_quality,2.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
2,411919119122303,026 N39 E24 01BB 3 Sp 3 Orfc E Mud Mdw Qd NW1,Spring,NaN,NaN,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
3,411919119122304,026 N39 E24 01BB 4 Sp 3 Orfc G Mud Mdw Qd NW1,Spring,NaN,NaN,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389
4,411919119122305,026 N39 E24 01BB 5 Sp 3 Orfc H Mud Mdw Qd NW1,Spring,NaN,NaN,4358,16040202,5/26/80,5/26/80,Water_quality,1.0,Inactive,NaN,NaN,https://waterdata.usgs.gov/nwis/inventory?agen...,41.321944,119.206389

In [28]:
pd.DataFrame.to_csv(read, 'USGS-StreamGauges_V5_latLong.csv', sep=',', na_rep='.', index=False)